@import "tailwindcss";
body{
    background-color: #f5f1f1;
}
.filter-option{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    margin-top: 4px;
    margin-left: 10px;
    gap: 10px;
}